.title {
  font-style: italic;
  text-align: center;
  font-family: "Slabo 27px", serif;
  font-size: 2.5em;
}
.red {
  color: #cc0000;
}
.myProfile {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
